@{
    ViewBag.Title = "Add Candidate"; 
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Selection/selectionViewModel.js")" type="text/javascript"></script>

<div class="row">
    <div class="span12">
        <table class="table">
            <thead class="">
                <tr class="">
                    <th class="">Possible Bets</th>
                    <th class="">Placed Bets</th>
                    <th class="">Bonus Points</th>
                    <th class="">Spent Points</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="">
                    <td class="">
                        <span data-bind="text: possibleBets" />
                    </td>
                    <td class=""> 
                        <span data-bind="text: placedBets" />
                    </td>
                    <td class=""> 
                        <span data-bind="text: bonusPoints" />
                    </td>
                    <td class=""> 
                        <span data-bind="text: spentPoints" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table">
            <thead>
                <tr class="">
                    <th class="">
                        Date/Time
                    </th>
                    <th class="">
                        Spread
                    </th>
                    @*<th class="">
                        Your Selection
                    </th>*@
                    <th class="">
                        <span class="label label-warning span1">No Bet</span>
                        <span class="label label-success span1">Favorite</span>
                        <span class="label label-important span1">Underdog</span>
                        <!--div class="btn-group">
                            <button class="btn btn-small span1" type='submit'>No Bet</button>
                            <button class="btn btn-small span2" type='submit'>Favorite</button>
                            <button class="btn btn-small span2" type='submit'>Underdog</button>
                        </div-->
                    </th>
                    <th class="">
                        Bet Amount
                    </th>
                    @*<th>Min</th>
                    <th>Max</th>*@
                </tr>
            </thead>
            <tbody data-bind="foreach: userGameSelections">
                <tr class="" data-bind="attr: {id: 'gameRow' + userGameSelectionId, class: 'warning'}">
                    <td class="">
                        <strong><span data-bind="text: gameDateTime" /></strong>
                    </td>                      
                    <td class="">
                        <strong><span data-bind="text: spread" /></strong>
                    </td>
                    <td class="span5">
                        <div class="btn-group">
                            <button class="" type='submit' data-bind="click: function(data, event) { $parent.userMadeSelection('no bet', 'label label-warning', 'warning', $root, data, event) }, attr: {id: 'btnNoBet' + userGameSelectionId, class: 'btn btn-small span1 btn-warning active'}">No Bet</button>
                            <button class="btn btn-small span2" type='submit' data-bind="click: function(data, event) { $parent.userMadeSelection('favorite', 'label label-success', 'success', $root, data, event) }, text:favoriteTeam, attr: {id: 'btnFavorite' + userGameSelectionId}"></button>
                            <button class="btn btn-small span2" type='submit' data-bind="click: function(data, event) { $parent.userMadeSelection('underdog', 'label label-important', 'error', $root, data, event) } , text:underdogTeam, attr: {id: 'btnUnderdog' + userGameSelectionId}"></button>
                        </div>
                    </td>
     
                    @*<td class="">
                        <span data-bind="text: pickTeam, attr: {id: 'yourSelection' + userGameSelectionId}" />
                    </td>*@  
                    @*<td>
                        <span data-bind="text: bet, attr: {id: 'yourBet' + userGameSelectionId}" />
                    </td>   
                    <td>
                        <span data-bind="text: minGameBet, attr: {id: 'yourMinGameBet' + userGameSelectionId}" />
                    </td>   
                    <td>
                        <span data-bind="text: maxGameBet, attr: {id: 'yourMaxGameBet' + userGameSelectionId}" />
                    </td> *@  
                    <td class="">
                        <div class="btn-group">
                            <button class="btn" type='submit' disabled='disabled' data-bind="click: function(data, event) { $parent.userMadeBet(1, $root, data, event) }, attr: {id: 'yourBetB1G' + userGameSelectionId}">Bet 1</button>
                            <button class="btn" type='submit' disabled='disabled' data-bind="click: function(data, event) { $parent.userMadeBet(2, $root, data, event) }, attr: {id: 'yourBetB2G' + userGameSelectionId}">2</button>
                            <button class="btn" type='submit' disabled='disabled' data-bind="click: function(data, event) { $parent.userMadeBet(3, $root, data, event) }, attr: {id: 'yourBetB3G' + userGameSelectionId}">3</button>
                            <button class="btn" type='submit' disabled='disabled' data-bind="click: function(data, event) { $parent.userMadeBet(4, $root, data, event) }, attr: {id: 'yourBetB4G' + userGameSelectionId}">4</button>
                            <button class="btn" type='submit' disabled='disabled' data-bind="click: function(data, event) { $parent.userMadeBet(5, $root, data, event) }, attr: {id: 'yourBetB5G' + userGameSelectionId}">5</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>
<div class="row">
    <div class="span12">
        <button class="btn btn-inverse" type="submit" data-bind="click: $root.userSelectedSave">Save</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //activates KO
        ko.applyBindings(selectionViewModel);
    });
</script>