@model Selectum.Models.Selection

@{
    ViewBag.Title = "Pick Your Games";
}

<h2>Pick Your Games New</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>maxBetForAnyOneGame</th>
                <th>placedBets</th>
                <th>availablePoints</th>
                <th>spentPoints</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="maxBetForAnyOneGame" type="text" data-bind="value: maxBetForAnyOneGame" />
                 </td>
                <td> 
                    <input id="placedBets" type="text" data-bind:"value: placedBets" />
                </td>
                <td> 
                    <input id="availablePoints" type="text" data-bind:"value: availablePoints" />
                </td>
                <td> 
                    <input id="spentPoints" type="text" data-bind:"value: spentPoints" />
                </td>
            </tr>

        </tbody>
    </table>
</div>


@Scripts.Render("~/Scripts/Selection/selectionViewModel.js")
