@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to Select'um
            </p>
        </div>
    </section>
}
<h3>Your options are the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Selections</h5>
        Click <b>Selections</b> from the top nav bar to make your weekly selections.
        Use the week selector bar to make selections for the current week or review
        past weeks selections.
    </li>

    <li class="two">
        <h5>Weekly Results</h5>
        Click <b>Weekly Results</b> from the top nav bar to review how your weekly 
        selections performed.
    </li>

    <li class="three">
        <h5>Standings</h5>
        Click <b>Standings</b> from the top nav bar to review the overall results.
    </li>
</ol>
